<!-- header -->
<%- include('../partial/header.ejs')  %>
<!--  -->

<div class="wrapper">
	<!-- navigation-bar -->
	<%- include('../partial/navbar.ejs')  %>
	<!--  -->

	<div class="container-main">
		<!-- side-bar -->
		<%- include('../partial/sidebar.ejs')  %>
		<!--  -->

		<div class="container-main-two">
			<div class="container-main-two-button">
				<a href = /create button type="button" class="btn btn-outline-primary">
					<i class="fas fa-user-plus"></i>Add Staff Members</button></a>
			</div>
			<%- include('../partial/alert.ejs')  %>
			<div class = container-main-two-memberhead>
				<nav class="nav nav-pills nav-justified">
					<a class="nav-link active" aria-current="page" href="/">STAFF MEMBERS</a>
					<a class="nav-link" href="/member">GYM MEMBERS</a>
				</nav>
			</div>
			<div class="container-main-two-table">
				<table id="Employeelist" class="table table-striped">
					<thead>
						<tr>
							<th scope="col">First Name</th>
							<th scope="col">Last Name</th>
							<th scope="col">Age</th>
							<th scope="col">Gender</th>
							<th scope="col">Joined Date</th>
							<th scope="col">Resigned Date</th>
							<th scope="col">Shift</th>
							<th scope="col">Salary</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						<% if (gymemployee.length < 1) { %>
							<tr>
								<td colspan = '9' style= "text-align: center; font-size: 18px; ">No employees in the list</td>
							</tr>
							<% } %>
						<% gymemployee.forEach(gymemployee =>{ %>
						<tr>
							<td><%= gymemployee.firstName %> </td>
							<td><%= gymemployee.lastName %> </td>
							<td><%= gymemployee.age %> </td>
							<td><%= gymemployee.gender %> </td>
							<td><%= gymemployee.joinedDate %> </td>
							<td><%= gymemployee.resignedDate %> </td>
							<td><%= gymemployee.shift %> </td>	
							<td><%= gymemployee.salary %> </td>
							<td class='table-data-icon'><a href = "/<%= gymemployee._id %>/edit"><i class="fas fa-user-edit"></i></a>
	
								<form method="post" action = "/<%=gymemployee._id %>?_method=delete">
								<button type="submit"><i class="fas fa-user-times" style="color:#F70D1A;"></i></button>	
								</form>
							</td>
						
						</tr>
						<%}) %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<!-- footer -->
<%- include('../partial/footer.ejs')  %>
<!--  -->
