<!-- header -->
<%- include('../../partial/header.ejs')  %>
<!--  -->

<div class="wrapper">
	<!-- navigation-bar -->
	<%- include('../../partial/navbar.ejs')  %>
	<!--  -->			

	<div class="container-main">
		<!-- side-bar -->
		<%- include('../../partial/sidebar.ejs')  %>
		<!--  -->

		<div class="container-main-two">
			
			<div class="container-main-two-table">
				<form method = "post" action= "/member">
					<div class="mb-3">
						<label for="exampleInputFirstname" class="form-label">Enter first name of member</label>
						<input type="text" name="firstName"class="form-control" id="exampleInputMemberfname" aria-describedby="Enter first name of member" value=<%=oldInput.firstName%>>
						<div id="emailHelp" class="form-text"> <%= errors.firstName %></div>
					</div>

					<div class="mb-3">
						<label for="exampleInputLastname" class="form-label">Enter last name of member</label>
						<input type="text" name="lastName"class="form-control" id="exampleInputMemberlname" aria-describedby="Enter last name of member" value=<%=oldInput.lastName%>>
						<div id="emailHelp" class="form-text"><%= errors.lastName %></div>
					</div>

					<div class="mb-3">
						<label for="exampleInputAge" class="form-label">Enter the age of member</label>
						<input type="number" name="age"class="form-control" id="exampleInputage" aria-describedby="Enter age of member" value=<%=oldInput.age%>>
						<div id="emailHelp" class="form-text"><%= errors.age%></div>
					</div>

					<div class="mb-3">
						<label for="exampleInputGender" class="form-label">Enter the gender of member</label>
						<input type="radio" name="gender" value= "Male" 
						<%if(oldInput.gender === 'Male'){%>
							<%='checked'%>
							<%}%>
							>Male
							
						<input type="radio" name="gender" value= "Female"
						<%if(!oldInput.gender === 'Female'){%>
							<%='checked'%>
							<%}%>
							>Female

						<div id="emailHelp" class="form-text"></div>
					</div>

					<div class="mb-3">
						<label for="exampleInputJoinedDate" class="form-label">Enter the members joined date</label>
						<input type="Date" name="joinedDate"class="form-control" id="exampleInputjoinedDate" aria-describedby="Enter joined Date of member" value=<%=oldInput.joinedDate%>>
						<div id="emailHelp" class="form-text" invalid-feedback><%= errors.joinedDate%></div>
					</div>
					
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- footer -->
<%- include('../../partial/footer.ejs')  %>
<!--  -->